body{background-color: #3e2f00;}
h1, footer p{color: #fcedc2;}
h2, summary, img, .text{color: #715500;}
hr, p, li{color: #b78900;}
#banana{border: none;}
a, a img{color: #5f9ea0;}
a:hover, a img:hover{color: #9ae4e8;}
a:visited, a:visited img{color: #a071cb;}
a:visited:hover, a:visited img:hover{color: #d5a9ff;}