body{background-color: #4b0024;}
h1, footer p{color: #ff6db3;}
h2, summary, img, .text{color: #920046;}
hr, p, li{color: #ff007b;}
a, a img{color: #5f9ea0;}
a:hover, a img:hover{color: #9ae4e8;}
a:visited, a:visited img{color: #a071cb;}
a:visited:hover, a:visited img:hover{color: #d5a9ff;}