body{background-color: #f3e4c8;}
h1, footer p, hr, #jump{color: #2a221a;}
h2, summary, img, .text{color: #894b23;}
p, li{color: #e08e38;}
a, a img{color: #0000ee;}
a:hover, a img:hover{color: #72bcbf;}
a:visited, a:visited img{color: #551a8b;}
a:visited:hover, a:visited img:hover{color: #d1a0ff;}